.login-page {
    min-height: 100vh;
    background-color: #DFD9D8;
}

#title {
    font-size: 2.5rem;
    font-family: Trebuchet MS;
    font-weight: bold;
    color: #64242F;
}

.form-group {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.form-group label {
    font-weight: bold;
    font-family: Trebuchet MS;
    color: #3C4142;
}

.form-input {
  width: 100%;
  box-sizing: border-box;
  height:1.55rem;
  ;
}

.password-input-row {
    position: relative;
    width: 100%;
}

.password-input-row button {
  position: absolute;
  left: calc(100% + 0.5rem);
  top: 50%;
  transform: translateY(-38.5%);
  font-family: Trebuchet MS;
  color: #3C4142;
  font-weight: bold;
}

.password-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.page-text {
    color: #64242F;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: Trebuchet MS;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 0.4167rem;
}

#submit-button {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

#submit-button button {
    width: 12rem;
    padding: 0.75rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color:  #3C4142;
    background-color: #FC8F8F;
}

