

.footer { padding: 1.25rem 2.5rem; color: #5f5756; background: #fff; border-top: 1px solid #c9c1c0; font-size: .9rem; box-sizing: border-box; }
.footer a { color: #be0624; }
.footer a:hover { color: #8f071d; text-decoration: underline; }